:root {
  --primary-color: #ddbcda;
  --primary-background: #481535;
  --secondary-color: rgba(255,255,255,0.1);
}

body {
  margin: 0;
  padding: 180px 0 0 0;
  font-family: "Jost", sans-serif;
  background-color: var(--primary-background);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-brand img {
  width: 90px;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link {
  font-size: 1.1em;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 130px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

.navigation-bar-color {
  background-color: var(--primary-background);
}

.custom-font-1 {
  color: var(--primary-color);
}

.link-box-2 {
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 30px;
  margin: 5px;
}

.new-icons-1 {
  font-size: 30px;
  color: #645060;
}

.page-break {
    flex-grow: 1;
}
